
/* Single Page App Navigation */

  nav li {
    display: inline-block;
  }
  main > * {
    display: none;
  }
  main > *:last-child {
    display: block;
  }
  main > *:target {
    display: block;
  }
  main > *:target ~ * {
    display: none;
  }
/* Mobile First */
@media (max-width: 1000px) {
    body {
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    nav ul {
        padding-left: 0px;
    }

  .square {
    float:left;
    position: relative;
    width: 30vw;
    height: 30vw;
    margin: 2px;
    border-radius: 20px;
  }
  .rect {
    float:left;
    position: relative;
    width: 93vw;
    height: 30vw;
    margin: 2px;
    border-radius: 20px;
  }
  .rect2 {
    float:left;
    position: relative;
    width: 60vw;
    height: 30vw;
    margin: 2px;
    border-radius: 20px;
  }
}
/* Notebook/Desktop */
@media (min-width: 1000px) {
  .square {
    float:left;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px;
    border-radius: 10px;
  }
  .rect {
    float:left;
    position: relative;
    width: 939px;
    height: 297px;
    margin:1.25%;
    border-radius: 10px;
  }
  .rect2 {
    float:left;
    position: relative;
    width: 615px;
    height: 297;
    margin:1.25%;
    border-radius: 10px;
  }
}


/* Mobile Colours */
.img_1-1{
  background: -webkit-linear-gradient(bottom, red, rgb(255, 100, 50));
  opacity: 0.8;
  border-radius: 20px;
  border: solid 1px gray;
}
.img_1-2{
  background: -webkit-linear-gradient(bottom, rgb(0, 160, 210), rgb(0, 175, 225));
  opacity: 0.8;
  border-radius: 20px;
  border: solid 1px gray;
}
.img_1-3{
  background: -webkit-linear-gradient(bottom, rgb(150, 100, 170), rgb(175, 125, 190));
  opacity: 0.8;
  border-radius: 20px;
  border: solid 1px gray;
}
.img_2-1{
  background: -webkit-linear-gradient(bottom, rgb(255, 155, 0), rgb(285, 185, 30));
  opacity: 0.8;
  border-radius: 20px;
  border: solid 1px gray;
}
.img_2-2{
  background: -webkit-linear-gradient(bottom, rgb(255, 225, 50), rgb(270, 240, 65));
  opacity: 0.8;
  border-radius: 20px;
  border: solid 1px gray;
}
.img_2-3{
  background: -webkit-linear-gradient(bottom, rgb(80, 195, 45), rgb(95, 210, 60));
  opacity: 0.8;
  border-radius: 20px;
  border: solid 1px gray;
}



/*  header */
header {
    display: none;
}

/* footer */
footer {
    display: none;
}